.weather_cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  gap: 2rem;
  width: 100%;
  margin-top: 2.1rem;
  max-width: 180rem;
  margin-left: auto;
  margin-right: auto;
}

.flag {
  height: 2rem;
  width: auto;
}

.weather-card {
  background-color: #24353e;
  border-radius: 2rem;
  padding: 3rem 5.2rem 2rem;
  display: flex;
  flex-direction: column;
  transition: all 0.3s ease;
}

.weather-card:hover {
  transform: translateY(-0.5rem);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
}

.weather-icon img {
  width: auto;
  height: 10.2rem;
  transition: transform 0.5s ease;
}

.weather-icon img:hover {
  transform: scale(1.1) rotate(5deg);
}

.weather-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.weather-info p {
  margin: 1.5rem 0;
  font-size: 1.8rem;
}

.city-name {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 1rem;
  font-size: clamp(1.5rem, 4vw, 4rem);
}

.weather-temp {
  font-weight: 300;
}

.weather-wind,
.weather-time,
.weather-condition {
  font-size: clamp(1rem, 3vw, 1.2rem);
}

@media (min-width: 1800px) {
  .weather-cards {
    grid-template-columns: repeat(4, minmax(30rem, 1fr));
  }
}

/* Tablets */
@media (max-width: 1200px) {
  .weather-cards {
    grid-template-columns: repeat(auto-fill, minmax(25rem, 1fr));
  }

  .city-name {
    font-size: 3.5rem;
  }
}

/* Mobile */
@media (max-width: 850px) {
  .weather-cards {
    grid-template-columns: 1fr;
    padding: 0 1.5rem;
  }

  .weather-card {
    width: 100%;
    padding: 2rem 3rem;
  }

  .city-name {
    font-size: 3rem;
  }

  .weather-info p {
    margin: 1rem 0;
    font-size: 1.6rem;
  }
}

/* Telas pequenas em modo retrato */
@media (max-height: 788px) {
  .weather-card {
    height: 98%;
  }
}
